
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.orgchart {
    background-image: none;
}

.summary-container {
    margin-bottom: 20px;
}

.link-disabled {
    pointer-events: none;
    color: grey;
    cursor: not-allowed;
}

.form-group.required .control-label:after {
    content:" *";
    color:red;
    font-size: 18px;
}

.ibo-search-loading {
    width: 35px;
    margin-left: 20px;
    display: none;
}

.ibo-search-table-left {
    text-align: right;
    width: 150px;
}

.ibo-search-table-right {
    text-align: left;
}

.navbar-brand img {
    width:50px;
    position:relative;
    top:-5px;
}

#logo {
    position:relative;
    align-items:center;
    display:flex;
    justify-content:center;
    margin-top:40px;
}